body {
  margin: 0;
  overflow: hidden;
  background-size: cover; /* Ajusta o tamanho cobrir toda a tela */
  background-position: center; /* Centraliza a imagem do background */
}

.halloween-background {
  width: 100%;
  height: 100vh;
  background-color: #FF6600; /* Laranja */
  background-size: cover; /* Ajusta o tamanho cobrir toda a tela */
  background-position: center; /* Centraliza a imagem do background */
  position: relative;
}

.moon {
  width: 30%; /* Tamanho relativo à largura da tela */
  padding-top: 30%; /* Tamanho relativo à largura da tela */
  background-color: #ffff40; /* Amarelo */
  border-radius: 50%;
  position: absolute;
  top: 5%; /* Posição relativa à altura da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%);
  animation: moonGlow 10s infinite alternate;
}

@keyframes moonGlow {
  0% {
    box-shadow: 0 0 0 #FFFF00; /* Brilho inicial */
  }
  100% {
    box-shadow: 0 0 80px #FFFF00; /* Brilho máximo */
  }
}

.castle {
  width: 20%; /* Tamanho relativo à largura da tela */
  padding-top: 10%; /* Tamanho relativo à largura da tela */
  position: absolute;
  top: 30%; /* Posição relativa à altura da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-100%);
  /* Adicione estilos adicionais para o castelo, como torres e janelas */
}

.trees {
  width: 100%;
  height: 50px;
  background-color: #000000; /* Preto para o chão */
  position: absolute;
  bottom: 0;
  /* Adicione estilos adicionais para as árvores ou outros elementos do cenário */
}

/*  Aranha */

 [class*="spider"] {
  position: absolute;
  height: 40px;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 40px 0 0 0;
  background: #030202;
  top: -5%; /* Posição relativa à altura da tela */
  left: -600%;
}

[class*="spider"] *, [class*="spider"]:before, [class*="spider"]:after, [class*="spider"] :after, [class*="spider"] :before {
  position: absolute;
  content: "";
}
[class*="spider"]:before {
  width: 1px;
  background: #5f2496;
  left: 50%;
  top: -600px;
  height: 600px;
}
[class*="spider"] .eye {
  top: 16px;
  height: 14px;
  width: 12px;
  background: #ffa800;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
[class*="spider"] .eye:after {
  top: 6px;
  height: 5px;
  width: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: black;
}
[class*="spider"] .eye.left {
  left: 14px;
}
[class*="spider"] .eye.left:after {
  right: 3px;
}
[class*="spider"] .eye.right {
  right: 14px;
}
[class*="spider"] .eye.right:after {
  left: 3px;
}
[class*="spider"] .leg {
  top: 6px;
  height: 12px;
  width: 14px;
  border-top: 2px solid #000000;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: -1;
}
[class*="spider"] .leg.left {
  left: -8px;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transform: rotate(36deg) skewX(-20deg);
  -ms-transform: rotate(36deg) skewX(-20deg);
  -webkit-transform: rotate(36deg) skewX(-20deg);
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #000000;
  -moz-border-radius: 60% 0 0 0;
  -webkit-border-radius: 60%;
  border-radius: 60% 0 0 0;
  -moz-animation: legs-wriggle-left 1s 0s infinite;
  -webkit-animation: legs-wriggle-left 1s 0s infinite;
  animation: legs-wriggle-left 1s 0s infinite;
}
[class*="spider"] .leg.right {
  right: -8px;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(-36deg) skewX(20deg);
  -ms-transform: rotate(-36deg) skewX(20deg);
  -webkit-transform: rotate(-36deg) skewX(20deg);
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #000000;
  -moz-border-radius: 0 60% 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 60% 0 0;
  -moz-animation: legs-wriggle-right 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.2s infinite;
  animation: legs-wriggle-right 1s 0.2s infinite;
}
[class*="spider"] .leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  -moz-animation: legs-wriggle-left 1s 0.8s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.8s infinite;
  animation: legs-wriggle-left 1s 0.8s infinite;
}
[class*="spider"] .leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  -moz-animation: legs-wriggle-left 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.2s infinite;
  animation: legs-wriggle-left 1s 0.2s infinite;
}
[class*="spider"] .leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  -moz-animation: legs-wriggle-left 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.4s infinite;
  animation: legs-wriggle-left 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  -moz-animation: legs-wriggle-right 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.4s infinite;
  animation: legs-wriggle-right 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  -moz-animation: legs-wriggle-right 1s 0.7s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.7s infinite;
  animation: legs-wriggle-right 1s 0.7s infinite;
}
[class*="spider"] .leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  -moz-animation: legs-wriggle-right 1s 0.3s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.3s infinite;
  animation: legs-wriggle-right 1s 0.3s infinite;
}

@-webkit-keyframes legs-wriggle-left {
  0%, 100% {
    -webkit-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%, 75% {
    -webkit-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -webkit-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@-webkit-keyframes legs-wriggle-right {
  0%, 100% {
    -webkit-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -webkit-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}

.spider_4 {
  right: 10%;
  margin-top: 50vh;
  -moz-animation: spider-move-4 5s infinite;
  -webkit-animation: spider-move-4 5s infinite;
  animation: spider-move-4 5s infinite;
  width: 10%; /* Tamanho relativo à largura da tela */
  padding-top: 10%; /* Tamanho relativo à largura da tela */
}
@-moz-keyframes spider-move-4 {
  0%, 100% {
    margin-top: 222px;
  }
  46% {
    margin-top: calc(222px + 36px);
  }
}
@-webkit-keyframes spider-move-4 {
  0%, 100% {
    margin-top: 222px;
  }
  46% {
    margin-top: calc(222px + 36px);
  }
}
@keyframes spider-move-4 {
  0%, 100% {
    margin-top: 270px;
  }
  46% {
    margin-top: calc(300px + 36px);
  }
}

@keyframes flicker {
  0%    { opacity: 1; }
  4%    { opacity: 0.1; }
  6%    { opacity: 1; }
  7%    { opacity: 0.1; }
  9%    { opacity: 1; }
  9%    { opacity: 0.1; }
  10%   { opacity: 1; }
  98%   { opacity: 1; }
  100%  { opacity: 1; }
}

  #BUBBLELINE1 { animation: flicker 6s infinite 1s step-end; }
  #BUBBLELINE2 { animation: flicker 6s infinite 2s step-end; }
  #BUBBLELINE3 { animation: flicker 6s infinite 3s step-end; }

/*   Radio Kimera texto*/ 
.radio {
  position: absolute;
  top: 50px; /* Ajuste a posição vertical conforme necessário */
  left: -800%; /* Centralize horizontalmente */
 /* transform: translateX(-50%);*/
  text-shadow: 5px 5px 0 black; /* Adiciona contorno preto */
  transform: rotate(-10deg); /* Rotação de 45 graus */
  animation: blink 4s infinite; /* Aplica animação de cintilação */
}
@keyframes blink {
  0% {
    opacity: 1; /* Início da animação, texto visível */
  }
  50% {
    opacity: 0; /* Meio da animação, texto invisível */
  }
  100% {
    opacity: 1; /* Fim da animação, texto visível novamente */
  }
}

/* Estilo para o texto "Radio" */
.radio-text {
  color: orange;
  font-size: 100px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  padding: 5px; /* Espaçamento interno */
  margin-right: 5px; /* Espaçamento à direita */
}
.kimera {
  position: absolute;
  top: 90px; /* Ajuste a posição vertical conforme necessário */
  left: -650%; /* Centralize horizontalmente */
 /* transform: translateX(-50%);*/
  text-shadow: 5px 5px 0 black; /* Adiciona contorno preto */
  transform: rotate(-10deg); /* Rotação de 45 graus */
  animation: kimera 5s infinite; /* Aplica animação de cintilação */
}
/* Estilo para o texto "Kimera" em verde */
.kimera-text {
  color: orange;
  font-size: 100px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  padding: 5px; /* Espaçamento interno */
  margin-left: 5px; /* Espaçamento à esquerda */
}

@keyframes kimera {
  0% {
    opacity: 1; /* Início da animação, texto visível */
  }
  25% {
    opacity: 0; /* Meio da animação, texto invisível */
  }
  50% {
    opacity: 1; /* Fim da animação, texto visível novamente */
  }
  75% {
    opacity: 0; /* Fim da animação, texto visível novamente */
  }
  100% {
    opacity: 1; /* Fim da animação, texto visível novamente */
  }
}
